* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 80px;
  color: blue;
  text-align: center;
}

ul,
ol,
p {
  font-size: 22px;
}

img {
  width: 400px;
  height: auto;
  alig: center;
}

h2 {
  font-weight: 800;
  background-color: yellow;
}

a {
  color: red;
}

.imp {
  font-weight: 800;
}
